@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
    font-family: "Lato", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5efe7;
}

header {
    display: flex;
    align-items: center;
    background-color: #3e5879;
    color: white;
    padding: 10px 20px;
}

header img {
    height: 50px;
    margin-right: 20px;
}

nav {
    background-color: #213555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex: 1;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #00509e;
}

.content {
    padding: 20px;
}

.content h1 {
    color: #004080;
}

.gallery img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.feedback-form {
    max-width: 400px;
    margin: auto;
}

.feedback-form label {
    display: block;
    margin-bottom: 5px;
}

.feedback-form input,
.feedback-form textarea,
.feedback-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.feedback-form button {
    background-color: #004080;
    color: white;
    border: none;
    cursor: pointer;
}

.feedback-form button:hover {
    background-color: #00509e;
}
/* 
.content * {
    font-family: Nunito, sans-serif;
  }
  
  .content .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
  }
  
  .content .responsive-cell-block {
    min-height: 75px;
  }
  
  .content input:focus,
  .content textarea:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
  }
  
  .content .container-block {
    min-height: 75px;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
  }
  
  .content .responsive-container-block {
    min-height: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .content .responsive-container-block.big-container {
    padding-top: 10px;
    padding-right: 30px;
    width: 35%;
    padding-bottom: 10px;
    padding-left: 30px;
    background-color: #03a9f4;
    position: absolute;
    height: 950px;
    right: 0px;
  }
  
  .content .responsive-container-block.container {
    position: relative;
    min-height: 75px;
    flex-direction: row;
    z-index: 2;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    max-width: 1320px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  
  .content .container-block.form-wrapper {
    background-color: white;
    max-width: 450px;
    text-align: center;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 40px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-top: 90px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }
  
  .content .text-blk.contentus-head {
    font-size: 36px;
    line-height: 52px;
    font-weight: 900;
  }
  
  .content .text-blk.contentus-subhead {
    color: #9c9c9c;
    width: 300px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    display: none;
  }
  
  .content .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 26px;
    margin-left: 0px;
    min-height: 50px;
  }
  
  .content .input {
    width: 100%;
    height: 50px;
    padding-top: 1px;
    padding-right: 15px;
    padding-bottom: 1px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #eeeeee;
    border-right-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
    color: black;
  }
  
  .content .textinput {
    width: 98%;
    min-height: 150px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #eeeeee;
    border-right-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
  }
  
  .content .submit-btn {
    width: 98%;
    background-color: #03a9f4;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
  }
  
  .content .form-box {
    z-index: 2;
    margin-top: 0px;
    margin-right: 48px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .content .text-blk.input-title {
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 14px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    color: #9c9c9c;
  }
  
  .content ::placeholder {
    color: #dadada;
  }
  
  .content .mob-text {
    display: block;
    text-align: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
  }
  
  .content .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  
  .content .text-blk.contentus-subhead.color {
    color: white;
  }
  
  .content .map-box {
    max-width: 800px;
    max-height: 520px;
    width: 100%;
    height: 520px;
    background-color: #d9d9d9;
    background-image: url("https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/sc23.png");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
  }
  
  .content .map-part {
    width: 100%;
    height: 100%;
  }
  
  .content .text-blk.map-contentus-head {
    font-weight: 900;
    font-size: 22px;
    line-height: 32px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    color: #03a9f4;
  }
  
  .content .text-blk.map-contentus-subhead {
    max-width: 300px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  
  .content .social-media-links.mob {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    width: 230px;
    display: flex;
    justify-content: flex-start;
  }
  
  .content .link-img {
    width: 30px;
    height: 30px;
    margin-top: 0px;
    margin-right: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .content .link-img.image-block {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .content .social-icon-link {
    margin: 0 25px 0 0;
    padding: 0 0 0 0;
  }
  
  @media (max-width: 1024px) {
    .content .responsive-container-block.container {
      justify-content: center;
    }
  
    .content .map-box {
      position: absolute;
      top: 0px;
      max-height: 320px;
    }
  
    .content .map-box {
      max-width: 100%;
      width: 100%;
    }
  
    .content .responsive-container-block.container {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .content .map-part {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .content .container-block.form-wrapper {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .content .mob-text {
      display: block;
    }
  
    .content .form-box {
      margin-top: 200px;
      margin-right: 60px;
      margin-bottom: 40px;
      margin-left: 0px;
    }
  
    .content .link-img {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      display: flex;
      justify-content: space-evenly;
    }
  
    .content .social-media-links.mob {
      justify-content: space-evenly;
    }
  
    .content .responsive-cell-block.wk-desk-7.wk-ipadp-12.wk-tab-12.wk-mobile-12 {
      text-align: center;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
    }
  
    .content .text-blk.contentus-subhead {
      display: block;
    }
  
    .content .mob-text {
      text-align: center;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .content .responsive-container-block.container {
      flex-wrap: wrap;
    }
  
    .content .form-box {
      margin-top: 200px;
      margin-right: 0px;
      margin-bottom: 40px;
      margin-left: 0px;
    }
  }
  
  @media (max-width: 768px) {
    .content .submit-btn {
      width: 100%;
    }
  
    .content .input {
      width: 100%;
    }
  
    .content .textinput {
      width: 100%;
    }
  
    .content .container-block.form-wrapper {
      margin-top: 80px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .content .text-blk.input-title {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .content .form-box {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }
  
    .content .container-block.form-wrapper {
      padding-top: 50px;
      padding-right: 15px;
      padding-bottom: 50px;
      padding-left: 15px;
    }
  
    .content .mob-text {
      display: block;
    }
  
    .content .responsive-container-block.container {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .content .form-box {
      margin-top: 200px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .content .container-block.form-wrapper {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .content .form-box {
      margin-top: 220px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .content .form-box {
      margin-top: 220px;
      margin-right: 0px;
      margin-bottom: 50px;
      margin-left: 0px;
    }
  
    .content .text-blk.contentus-head {
      font-size: 32px;
      line-height: 40px;
    }
  }
  
  @media (max-width: 500px) {
    .content .container-block.form-wrapper {
      padding-top: 50px;
      padding-right: 15px;
      padding-bottom: 50px;
      padding-left: 15px;
    }
  
    .content .container-block.form-wrapper {
      margin-top: 60px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .content .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 15px;
      margin-left: 0px;
    }
  
    .content .responsive-container-block {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 35px;
      margin-left: 0px;
    }
  
    .content .text-blk.input-title {
      font-size: 12px;
    }
  
    .content .text-blk.contentus-head {
      font-size: 26px;
      line-height: 35px;
    }
  
    .content .input {
      height: 45px;
    }
  } */